@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@700&display=swap');
body{
    box-sizing: border-box;
    background-color:#051951;
    margin: 0;
    padding: 0;
}
.item1{grid-area: header;}
.item2{grid-area: menu;}
.item3{grid-area: main;}
.item4{grid-area: footer;}
.main-div{
    display: grid;
    grid-template-areas:
      'header'
      'menu' 
      'main'
      'footer';
}
.upper-nav{
    color: #fff;
    width: 100%;
    background-color: #F18F01;
}
.first-nav-list{
    list-style-type: none;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 30px;
    width: 75%;
    
}
li{
    /* Added more space padding to match with the design */
    padding-block: 20px;
}
.img{
    width: 12px;
    height: 12px;
}
.search{
    background-color: white;
    border: 1px solid white;
    /* Adding only padding to both the left and right side */
    padding-inline: 20px;
    margin-left: 100px;
    display: flex;
    /* justify-content: flex-end; */

    /* Center child elements at the center of its parent */
    align-items: center;
    justify-content: center;

}
.search img{
    width: 20px;
    height: 20px;
    margin-right: 5.5px;
}
#search{
    /* 
        border-collapse: collapse; 
        "commented this because this property is meant for tables"
    */
    border: none;
    width: 40%; /*The width takes off what is expected i.e the width of the placeholder*/
    padding: 0;
    /* font-size: 16px; */
    color: #051951;
    line-height: 27.2px;
}
/* Style for when the input is focused */
#search:focus{
    border: none; /*removing the default border on it */
    outline: none; /*removing the default outline on it */
}
/* Styling for the placeholder "search" */
#search::placeholder{
    color: #051951;
    opacity: 1;
    text-transform: uppercase;
    font-weight: 700;
    
}

.second-main-nav{
    color: #fff;
    background-color:#051951;
    
}

.second-div2{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.ocean-div{
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    gap: 16px;
}
/* .company-name{
    display: flex;
    flex-direction: column;
}*/

.handyman{
    width: 60% ;
}
.first-span{
    font-size: 14px;
    font-weight: 100;
}
.first-img{
    width: 100%;
    height: 700px;
    filter: brightness(50%)
}
.second-nav-list{
    color: #fff;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 30px;
    padding-right: 20px;
}

.nav-link{
   color: #fff;
    
}
.middle-div-inner{
    color: #fff;
    position: absolute;
    width: 30%;
    top: 40%;
    left: 15%;
}

.list-div{
    display: flex;
    flex-direction: row;
}

.list{
    list-style-type: none;
}

.list1{
    margin: 0;
    padding: 0;

}

.list2{
    margin: 0;
    padding-left: 10px;
}

.list3{
    padding-right:20px ;
    border-right: 1px solid;
}
.inner-h1{
    width: 80%;
    font-family: "Miriam Libre", sans-serif;
    font-weight: 700;
}

.inner-span{
    color: #F18F01;
}

/*the check image*/
.second-img{
    width: 10px;
    height: 10px;
}

/*the button*/
.btn{
    border: 1px solid #F18F01;
    margin-top: 30px;
    padding: 10px;
    background-color: #F18F01;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover{
    background-color: #FFC107;
}

/*the arrow inside the button*/
.arrow-img{
    width: 12px;
    height: 12px;
}

/*footer div*/
.footer-div{
    padding: 100px;
    background-color:#051951;
}

.inner-footer{
    width: 75%;
    margin: 0 auto;
    display: flex;
    color: #fff;
    gap: 20px;
}

.about-us{
    width: 40%;
    gap: 30px;
}

.tools-div{
    width: 60%;
}
.tool-div{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.tool-img{
    margin: 15px;
    width: 40px;
    height: 40px;
}

.about-us-span{
    color: #F18F01;
    font-weight: bold;
}

.about-p{
    font-size: 12px;
    font-weight: 100;
}